{% extends "base.html" %}


{% block content %}

  
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-12 ctn">
            <br>
            <img src="{{ img_url }}" class="image">
            <p>{{ username }}</p>
            <input type="file" class="btn btn-default btn-upload" accept="image/*" data-max-size="5000"/>
        </div>
        <div class="col-md-8 col-sm-12">
            <br>
            <p>About:</p>
            <p class="color">
                Short description about me
            </p>
            <br><br>
            <div class="col-md-4">
                Followers:
                <p class="color">620</p>
            </div>
             <div class="col-md-4">
                Likes:
                <p class="color">2658</p> 
            </div>

            <div class="col-md-4">
                <button class="btn btn-primary btn-follow" onclick="follow(this)">Follow</button>
            </div>

            <div class="col-md-4">

                <button class="btn btn-danger" onclick="add()">Add thought</button>
            </div>

        </div>
    </div>
</div>
<hr>


<!-- tweeets -->
<div class="container">
    
    {% for thought in thoughts %}
    <div>
        <img src="{{ img_url }}" class="image-tweet">
        <p class="tweet_meta">{{ username }}</p>
        <p class="tweet">{{thought.txt}}</p>
    </div>
    {% endfor %}
    
</div>

{% endblock %}




{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='profile.css')}}">
{% endblock %}



{% block scripts %}
{{ super() }}
<script src="/static/js/bootpopup.min.js"></script>
<script src="/static/js/add_thought.js"></script>
<script src="/static/js/follow.js"></script>
{% endblock %}
